:markdown
  ### Performance

  A Performance Specialist is a Developer who focuses on ensuring that
  GitLab and associated applications are as fast as possible. The Performance Specialist works in in the Performance team that is one of the backend teams.

  The team sets goals for overall performance of GitLab. This means measuring how long a certain task (creating an account, making an MR, doing a code view) takes. This is done with the UX team and focuses on the most used functionality.

  The team measures how time can be gained. This can be everything from using a CDN, to caching views, using client side rendering, to making a separate Go application to increase performance.

  The solution is implemented by the team that is responsible for this part of the application, most likely a backend or frontend team. The performance team is responsible for making an issue, working with the product manager to schedule it, and having a clear criteria of success. For example they can provide a fixture and a test that now takes 10 seconds to render in development and as for caching to get that time down to 1 second.

  The performance team creates and communicates the metrics that relate to user performance. Most of these will be publicly visible and usable, such as the [Performance bar](https://gitlab.com/gitlab-org/gitlab-ce/issues/29010).

  These metrics are used let developers know when their code impacts the performance of GitLab. We want to find that out as early as possible, possible points of detection are with static analysis of the code, performance tests, staging, and during canary deploys.

  To make sure there is a successful collaboration the team might share in the on-call responsibilities of the Production Engineering team.

  The team is small and focused on improving our tests, metric, code guidelines, and mostly educating the other teams about performance.
