---
layout: default
title: Download GitLab Enterprise Edition (EE)
purple_bg: true
extra_css:
  - downloads.css
---

.wrapper.container.download-ee
  .row.graphic-menu
    .col-md-9
      .installation-instructions
        %h3.heavy
          Select an operating system to install GitLab EE Omnibus on:
        .btn-group
          %button.btn.btn-default.dropdown-toggle.btn-lg{"data-toggle" => "dropdown", type: "button"}
            Select Operating System
            %span.caret
          %ul.js-select-os.dropdown-menu{role: "menu"}
            - data.platforms_ee.each do |platform|
              %li
                %a{href: "##{platform.name}", onclick: "dataLayer.push({event: 'ceDownload', operatingSystem: '#{platform.name}'});"}
                  = platform.long_name
      #tabs
        - data.platforms_ee.each do |platform|
          = partial "includes/downloads/platform", locals: { platform: platform, type: "ee" }
      %hr
      .other-downloads
        %h3.heavy
          Learn about other download options:
        %ul.footer-links
          %li
            %a{href: "/downloads"} Download GitLab Community Edition
          %li
            %a{href: "https://packages.gitlab.com/gitlab/gitlab-ee"} Browse the packages
        = partial "includes/downloads/other"
    .col-md-3.hidden-sm.hidden-xs
      .newsletter-preamble
        = image_tag "/images/downloads/logo.svg", class: "img-responsive pack-fox"
        %p
          Sign up for our monthly newsletter to stay up-to-date with new features, security updates and product releases.
        %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
        %form#mktoForm_1070
        :javascript
          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1070, function(form) {
              form.onSuccess(function(values, followUpUrl) {

                form.getFormElem().hide();
                document.getElementById('confirmform').style.visibility = 'visible';

                dataLayer.push({event: 'mktoLead', mktoFormId: form.getId()});
                return false;
              });
              function getgacid() {
                try {
                  var tracker = ga.getAll()[0];
                  return tracker.get('clientId');
                } catch (e) {
                  return 'n/a';
                }
              }
              form.vals({
                'gacid': getgacid()
              });
          });
        #confirmform{style: "visibility:hidden;"}
          %p Thanks for subscribing!
